@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin border($top, $right, $bottom, $left, $color, $type:"") {
	border-top: $top unquote($type) $color;
	border-right: $right unquote($type) $color;
	border-bottom: $bottom unquote($type) $color;
	border-left: $left unquote($type) $color;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
	-moz-box-shadow:    $x $y $blur $spread $color;
	-webkit-box-shadow: $x $y $blur $spread $color;
	box-shadow:         $x $y $blur $spread $color;
}