
/* Mixins
------------------------*/
@mixin font-smoothing($value: antialiased) {
  -webkit-font-smoothing: $value;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin border($top, $right, $bottom, $left, $color) {
	border-top: $top solid $color;
	border-right: $right solid $color;
	border-bottom: $bottom solid $color;
	border-left: $left solid $color;
}