@mixin font-smoothing($value: antialiased) {
	-webkit-font-smoothing: $value;
}
@mixin font-large {
	font-size: 36.5px;
	font-size: 2.531rem;
}
@mixin font-medium {
	font-size: 23px;
	font-size: 1.688rem;
}
@mixin font-regular {
	font-size: 14px;
	font-size: 1.125rem;
}
@mixin font-shadow($offsetX:0px, $offsetY:1px, $blur:2px, $color: rgba(0,0,0,0.7)) {
	text-shadow: $offsetX $offsetY $blur $color;
}