/* Imports
------------------------*/
@import 'box';
@import 'type';
@import 'mixins';

/* Fonts
------------------------*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans|Raleway:700,300);



/* Colour Pallet
------------------------*/
$midnightblue: rgb(44, 62, 80);
$asbestos: rgb(127, 140, 141);
$clouds: rgb(236, 240, 241);
$clouds-menu: rgba(236, 240, 241,0.95);
$pomegranate: rgb(192, 57, 43);
$alizarin: rgb(231, 76, 60);
$orange: rgb(243, 156, 18);

$jahanblack: rgb(35,35,35);


/* Variables
------------------------*/

$menu-height-large: 105;
$menu-height-small: 55;



/* Main SCSS
------------------------*/

html {
	font-size: 1em;
} 
body {
	color: $jahanblack;
	font-weight: 400;
	line-height: 1.45;
	font-family: 'PT Sans', sans-serif;
}
h1,h2,h3,h4,h5 {
	text-transform: uppercase;
	color: $jahanblack ;
	margin: 1.414em 0 0.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: inherit;
	line-height: 1.2;
}

p {margin-bottom: 1.3em;}

h1 {
	margin-top: 0;
	font-size: 3.375em;
}

h2 {font-size: 2.25em;}

h3 {font-size: 1.5em;}

h4 {font-size: 1em; color: $clouds; font-weight: 700 !important;}

small, .font_small {font-size: 0.75em;}

a {
	color: $pomegranate ;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	&:focus{
		color: $pomegranate;
	}
	&:hover{
		color: $alizarin ;
		text-decoration: underline;
		transition: all 0.2s ease-in-out;
	}
}



/* Masthead
------------------------*/
#masthead {
	width: 100%;
	background-image: url(../img/masthead.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -25px;

	h1 {
		color: #fff ;
		margin: 0;
		padding-top: 0;
		margin-bottom: 10px;
	}
	p {
		color: #fff;
	}
	.btn-cta {
		color: #fff;
		@include border(2px, 2px, 2px, 2px, #fff);
		@include border-radius(20px);
		text-transform: uppercase;
		font-family: "Raleway", sans-serif;
		font-weight: 700;
		&:hover {
			color: #333;
			background: #fff;
		}
	}
}

#avatar {
	@include border(2px, 2px, 2px, 2px, $clouds);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	display: inline-block;
	background-color: $clouds;
	@include border-radius(48px);

	img {
		@include border-radius(48px);
		background-color: transparent;
	}
}
#masthead-holder {
	margin-top: $menu-height-small + 100px;
	margin-bottom: 100px;
}

#masthead-holder-page {
	margin-top: $menu-height-small + 50px;
	margin-bottom: 50px;
}

/* Footer
------------------------*/
.footer {
	width: 100%;
	background-color: $jahanblack;
	@include border(0, 0, 5px, 0, $clouds);

	h3,p {
		color: $clouds ;
	}
	.credit {
		margin-top: 10px;
		color: $asbestos ;
	}
}


/* Socially Social
------------------------*/
.social-links {
	margin: 0 0 20px;
	padding: 0;
	li {
		margin-right: 20px;
		display: inline-block;
		list-style-type: none;
		&:last-child {
			margin-right: 0;
		}
		img {
			width: 32px;
			height: 32px;
		}
	}
}



/* Pages
------------------------*/
.page {
	width: 100%;
	padding-bottom: 60px;
	h2 {
		text-align: center;
		margin: 60px 0 0 0;
	}
}
.page-welcome {

	padding-bottom: 120px;
	h2 {
		margin: 120px 0 0 0;
	}
}
.page-contact {
	background-color: $alizarin;
	color: $clouds;
	padding-bottom: 120px;
	h2,h5 {
		color: $clouds;
	}
	h2 {
		margin: 120px 0 0 0;
	}
	h5 {
		margin: 0;
		font-weight: 700;
	}
	a {
		color: $clouds;
		text-decoration: underline;
	}
}
.page-work {
	background-color: $jahanblack;
	color: $clouds;
	h2 {
		color: $clouds;
	}
	.work-list {
		list-style-type: none;
		padding: 0;
		li {
			&:first-child {
				padding: 0 0 10px;
			}
			padding: 10px 0;
			border-bottom: 1px dotted $clouds;
		}
	}
}
.page-portfolio {
	background-color: $jahanblack;
	color: $clouds;
	h2 {
		color: $clouds;
	}
	.case-list {
		list-style-type: none;
		padding: 0;
		li {
			&:first-child {
				padding: 0 0 10px;
			}
			padding: 10px 0;
			border-bottom: 1px dotted $clouds;
		}
	}
}



/* Navigation
------------------------*/
.navbar-main {
	font-weight: 700;
	font-family: "Raleway", sans-serif;
	background-color: $clouds-menu;
	.nav > li > a,
	.navbar-brand {
		transition: none;
		text-transform: uppercase;
		color: $jahanblack;
	}
	.navbar-brand span {
		display: none;
	}
	.navbar-brand:after {
		content: 'Jahan Kalantar';
	}
	.nav > li > a:hover,
	.nav > li > a:focus {
		background-color: $jahanblack;
		color: $clouds;
	}
	.navbar-toggle {
		padding: 5px 10px;
	}
	.navbar-collapse-menu-bar {
		border-top: 4px solid $jahanblack;
		display: block;
		width: 25px;
		margin-top: 3px;
	}
}



/* Media Quries
------------------------*/

/* Small devices+ */
@media (min-width: 768px) {

	h1 {font-size: 5.063em;}

	h2 {font-size: 3.375em;}

	h3 {font-size: 2.25em;}

	h4 {font-size: 1.5em;}

	#masthead-holder {
		margin-top: 260px;
		margin-bottom: 150px;
	}
	.navbar-main {
		transition: 0.2s all ease-in-out;
		background-color: transparent;
		.nav > li > a,
		.navbar-brand {
			transition: none;
			text-transform: uppercase;
			color: $clouds;
		}
		.navbar-brand span {
			display: none;
		}
		.navbar-brand:after {
			content: 'Jahan Kalantar - Barrister-at-Law';
		}
		.nav > li > a {
			@include border(2px,2px,2px,2px,transparent);
			@include border-radius(30px);
			margin-left: 10px;
			background-color: transparent !important;
			transition: 0.2s all ease-in-out;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 3px;
			&:hover,
			&:focus {
				@include border(2px,2px,2px,2px,$clouds);
				transition: 0.2s all ease-in-out;
			}
		}
		.navbar-header,
		.navbar-nav {
			padding: 25px 0;
			transition: 0.2s all ease-in-out;
		}
	}
	.nav-solid {
		transition: 0.2s all ease-in-out;
		background-color: $clouds-menu;
		.nav > li > a,
		.navbar-brand {
			transition: none;
			text-transform: uppercase;
			color: $jahanblack;
		}
		.navbar-header,
		.navbar-nav {
			padding: 0;
			transition: 0.2s all ease-in-out;
		}
		.nav > li > a {
			&:hover,
			&:focus {
				@include border(2px,2px,2px,2px,$jahanblack);
				transition: 0.2s all ease-in-out;
				color: $jahanblack;
			}
		}
	}
}