		<footer class="footer">
			<div class="container">
				<div class="row text-center">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<h4>Keep in Touch</h4>
						<ul class="social-links">
						{{#if personal.facebook}}
							<li>
								<a title="Find me on Facebook" target="_blank" href="{{ personal.facebook }}"><img alt="Facebook Icon" src="{{assets}}/img/facebook.png"></a>
							</li>
						{{/if}}
						{{#if personal.twitter}}
							<li>
								<a title="Follow me on Twitter" target="_blank" href="{{ personal.twitter }}"><img alt="Twitter Icon" src="{{assets}}/img/twitter.png"></a>
							</li>
						{{/if}}
						{{#if personal.linkedin}}
							<li>
								<a title="Find me on LinkedIn" target="_blank" href="{{ personal.linkedin }}"><img alt="LinkedIn Icon" src="{{assets}}/img/linkedin.png"></a>
							</li>
						{{/if}}
						{{#if personal.instagram}}
							<li>
								<a title="Follow me on Instagram" target="_blank" href="{{ personal.instagram }}"><img alt="Instagram Icon" src="{{assets}}/img/instagram.png"></a>
							</li>
						</ul>
						{{/if}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-center">
						<p class="credit"><small>{{ site.copyright }}<br />
						Website by <a title="Web Design & Development Brisbane" href="http://jackcuthbert.com.au/">Jack Cuthbert</a>.</small></p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>