<nav class="navbar navbar-main navbar-fixed-top" role="navigation">
	<div class="container">
		{{!-- Brand and toggle get grouped for better mobile display --}}
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-menu">
				<span class="navbar-collapse-menu-bar"></span>
				<span class="navbar-collapse-menu-bar"></span>
				<span class="navbar-collapse-menu-bar"></span>
			</button>
			<a class="navbar-brand" href="#home"><span>Jahan Kalantar - Barrister-at-Law</span></a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-menu">
			<ul class="nav navbar-nav navbar-right">
				{{!-- Ensure to keep this up to date --}}
				{{!-- <li><a title="Portfolio" href="#portfolio">Portfolio</a></li> --}}
				<li><a title="Work" href="#work">Work</a></li>
				<li><a title="About" href="#about">About</a></li>
				<li><a title="Contact" href="#contact">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>