<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.titletag }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{assets}}/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{assets}}/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{assets}}/css/main.css">
		<script type="text/javascript" src="{{assets}}/js/components.js"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		{{!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --}}
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		{{!-- Favicons --}}
		<link rel="shortcut icon" href="/assets/favicon/favicon.ico">
		<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="/assets/img/favicon/favicon-196x196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/assets/img/favicon/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#262324">
		<meta name="msapplication-TileImage" content="/assets/img/favicon/mstile-144x144.png">
		<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">

		{{!-- SEO --}}
		<meta name="description" content="{{ site.description }}">
		<meta name="keywords" content="{{ site.keywords }}">
		<meta name="author" content="{{ site.author }}">

		{{!-- Social: Twitter --}}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@{{ personal.twitterhandle }}">
		<meta name="twitter:creator" content="@{{ personal.twitterhandle }}">
		<meta name="twitter:title" content="{{ site.title }}">
		<meta name="twitter:description" content="{{ site.description }}">
		<meta name="twitter:image:src" content="{{ site.domain }}{{ assets }}/img/avatar.jpg">

		{{!-- Social: Facebook / Open Graph --}}
		<meta property="og:url" content="{{ site.domain }}">
		<meta property="og:type" content="article">
		<meta property="og:title" content="{{ site.title }}">
		<meta property="og:image" content="{{ site.domain }}{{ assets }}/img/avatar.jpg"/>
		<meta property="og:description" content="{{ site.description }}">
		<meta property="og:site_name" content="{{ site.title }}">
		<meta property="article:author" content="{{ site.author}}">

		{{!-- Social: Google+ / Schema.org  --}}
		<meta itemprop="name" content="{{ site.title }}">
		<meta itemprop="description" content="{{ site.description }}">
		<meta itemprop="image" content="{{ site.domain }}{{ assets }}/img/avatar.jpg">
		
	</head>
	<body>
	<a name="home"></a>