{{!-- <ul class="sidebar-porfolio">
	<li class="sidebar-button"><a href="/cases"><i class="fa fa-suitcase"></i> Cases</a></li>
	<li class="sidebar-button"><a href="/legal-services"><i class="fa fa-book"></i> Legal Services</a></li>
	<li class="sidebar-button"><a href="/practice-areas"><i class="fa fa-pencil-square-o"></i> Practice Areas</a></li>
</ul> --}}

<a class="twitter-timeline" data-chrome="transparent" href="https://twitter.com/johnnyplatinum"  data-widget-id="435283674875961344">Tweets by @johnnyplatinum</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>