---
title: Home
layout: default.hbs
---
<div id="masthead" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row text-center">
			<div id="masthead-holder" class="col-xs-12 col-lg-8 col-lg-offset-2 col-md-12">
				<div id="avatar"><img alt="Image alt attribute" width="96" height="96" src="{{assets}}/img/avatar.jpg"></div>
				<h1>{{ site.title }}</h1>
				<p>{{ site.tagline }}</p>

				<a href="#about" class="btn btn-lg btn-cta">Further Information</a>
			</div>
		</div>
	</div>
</div>

<section class="page page-welcome">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<h2>Welcome</h2>
				<p>Hello. My name is Jahan Kalantar and I am a Barrister. My main practice is in the Sydney CBD area with my chambers (Frederick Jordan Chambers) conveniently located at Martin place. However, I have appeared all across NSW including many rural courts and in other Courts, including specialist Courts and Tribunals, throughout Australia.</p>

				<p>In NSW, there are two types of legal practitioners: solicitors and barristers. Barristers are legal practitioners whose principal work involves providing specialist legal advice and representing clients in court and tribunal hearings. Barristers work in private practice as independent sole practitioners.</p>
				
				<p>In many cases people make contact with a solicitor first who will carry out the preliminary background work on a case to prepare a ‘brief’ for a barrister. The Barrister will then work with the Solicitor and provide specialised advocacy and legal advice services to ensure the best outcome for the Client.</p>

				<p>I pride myself on being professional, diligent and dedicated and will fearlessly represent my Clients with utmost skill and care. I understand appreciate that many people who have come into contact with the legal system are overwhelmed, emotional and will need expert guidance on their options.</p>

				<p>If you require the services of a Barrister, I would be pleased to meet with you and your instructing solicitor for a consultation to see whether I can be of any assistance.</p>
			</div>
		</div>
	</div>
</section>

{{!-- <a name="portfolio"></a>
<section class="page page-portfolio" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h2>Cases</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<ul class="case-list">
				<li>Case item</li>
				<li>Case item</li>
				<li>Case item</li>
				<li>Case item</li>
				<li>Case item</li>
				<li>Case item</li>
			</ul>

			</div>
		</div>
	</div>
</section> --}}

<a name="work"></a>
<section class="page page-work" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<h2>Type Of Work</h2>
				<p>My practice is a general one, but I do have a speciality in the area of Criminal Law. However, I have appeared in a variety of different cases in various divisions of the Court. In addition, I have provided legal advice to Solicitors with regards to technical questions of law and complex factual scenarios. Often this advice has resulted in a substantially reduced cost and created a better outcome for Client as it can vastly increase the options available to a client and minimise the need for litigation.</p>
				<p>My practice areas have included largely:</p>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<ul class="work-list">
							<li>Administrative Law</li>
							<li>Bankruptcy and insolvency</li>
							<li>Commercial Law</li>
							<li>Contracts Law</li>
							<li>Corporate Law</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6">
						<ul class="work-list">
							<li>Criminal Law</li>
							<li>Evidence Law</li>
							<li>Land and Environment Law</li>
							<li>Legal Advice</li>
							<li>Wills and Estate Law</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<a name="about"></a>
<section class="page page-about" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h2>About</h2>
			<p>Kalantar holds world-class qualifications from internationally esteemed educational institutions. He has a Bachelor of Commerce from the University of Sydney with majors in International Business and Marketing and minors in Finance and Applied Mathematics.</p>
			<p>He has a Juris Doctor postgraduate law degree from the University of Technology Sydney, the success of which led him on his current career path as a barrister. In his time at university he was included in the Honours Society numerous times and shortlisted for various scholarships.</p>

			<p>Kalantar has a varied professional background. With experience at an array of Australia’s leading banks in Australia’s financial sector and a consulting background as a statistician for a number of Australian businesses.</p>

			<p>After being called into the bar in 2013, Kalantar has left the financial district in order to pursue a career in law, citing a wish to get more involved in advocacy. His passionate and dedicated approach to his client’s cases has been the secret to his success. Since starting work as a barrister he has become well practiced in large-scale criminal and civil matters, with significant work also in tribunals and the local court.</p>

			<p>Kalantar’s practice pertains to commercial, criminal and environmental litigation, with additional work in estate and financial litigation. His want to help the less fortunate pervades his work. In 2012 he was awarded the Justice Brennan Award for Socio-Legal Research based on a thesis that pertained to refugees, financial disadvantage and mental health services. His work in these fields implemented structures to improve these issues.</p>

			<p>Kalantar’s enthusiasm and drive make him a force to be reckoned with in the legal sector. His financial background and versatile experience give him a strong basis for any case and an innate understanding of the judicial system, aided by a successful career and postgraduate qualifications in law, continue to aid his burgeoning practice.</p>
			</div>
		</div>
	</div>
</section>

<a name="contact"></a>
<section class="page page-contact" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<h2>Contact</h2>
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<p>I generally do not accept direct access work, but if you are an individual who wants some guidance with regards to a legal problem, please don’t hesitate to email me and I will endeavour to put you in touch with the right people to help you if I can.</p>
						<p>I am available to be briefed by solicitors and invite you to contact me at your convenience.</p>
					</div>
					<div class="col-xs-12 col-md-6">
						<h5>Email</h5>
						<p><a target="_blank" title="Email {{ site.author }}" href="mailto:{{ personal.email }}">{{ personal.email }}</a></p>
						<h5>Business Location</h5>
						<p><a target="_blank"  href="http://www.fjc.net.au/contact.html">http://www.fjc.net.au/contact.html</a></p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>